@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap");
:root {
  --primary: #1b9274;
  --secondary: #5fb39e;
  --specialcl: #7e8ab84e;
  --primarybg: #ffffff;
  --secondarybg: #fafafa;
  --specialbg: #f5f5f5;
  --progressbarcont: #d8d8d8;
  --primarytext: #1d1d1d;
  --secondarytext: #989898;
  --simpletext: #8a8a8a;
  --btncolor: #213430;
  --bordercl: #dddddd;

  --fontfamily: "Outfit", sans-serif;
  --specialfont: "Rubik", sans-serif;
}
.modal {
  background-color: var(--primarybg);
  border: 1px solid var(--primary);
  padding: 40px;
  width: 100%;
}

.modalform h2 {
  color: var(--primary);
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.main_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input_flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input_flex label {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.input_flex input {
  width: 100%;
  padding: 10px;
  border: 2px solid #3c3c432e;
  border-radius: 10px 10px 0px 10px;
}

.short_inputs {
  width: 100%;
  display: flex;  
  flex-direction: row;
   gap: 40px;
}
.short_inputs .input_flex{
  width: 100%;
}
.main_form p {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.main_form p span {
  color: var(--primary);
}

@media screen and (max-width:600px) {
    .short_inputs{flex-direction: column;
    gap:10px}
}
    
