
/* Responsiveness */
@media only screen and (max-width: 600px) {
  .right_div {
    display: flex;
    justify-content: center;
  }
  .rightdiv .card .icons {
    width: 15vh;
    height: 15vh;
    position: absolute;
    right: -30px;
    top: -30px;
  }

  .rightdiv .bgbox1 {
    display: none;
  }
  .rightdiv .bgbox2 {
    display: none;
  }
  .footer_main {
    padding: 40px 20px;
    background-color: var(--secondarybg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo_div {
    width: 100%;
  }
  .footer_links {
    width: 100%;
  }
  .contactinfo_div {
    width: 100%;
  }
  .footer_main {
    background-color: var(--secondarybg);
    display: flex;
    gap: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .countersection {
    padding: 30px 40px;
  }
  .NeedHelpsect {
    padding: 50px;
  }
  .footer_main {
    padding: 80px 40px;
    background-color: var(--secondarybg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo_div {
    width: 25%;
  }
  .footer_links {
    width: 20%;
  }
  .contactinfo_div {
    width: 25%;
  }
  .footer_main {
    background-color: var(--secondarybg);
    display: flex;
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    padding: 20px 80px;
  }
  .landingsection {
    background-image: url(../media/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 80px;
  }

  .landingdiv {
    flex-direction: row;
  }

  .leftdiv {
    position: relative;
    width: 45%;
  }
  .rightdiv {
    position: relative;
    width: 50%;
    display: block;
  }
  .rightdiv .card {
    background-color: var(--primarybg);
    position: relative;
    width: 400px;
    height: 420px;
    padding: 30px 20px;
  }
  .rightdiv .card .icons {
    position: absolute;
    right: -40px;
    top: -40px;
  }

  .rightdiv .bgbox1 {
    background-color: var(--primary);
    position: absolute;
    width: 200px;
    height: 320px;
    top: -15px;
    left: -15px;
    border-radius: 10px;
    z-index: 5;
  }
  .rightdiv .bgbox2 {
    background-color: var(--primary);
    position: absolute;
    width: 200px;
    height: 320px;
    bottom: -15px;
    right: 15px;
    border-radius: 10px;
    z-index: 5;
  }
  .btndiv .paybtn {
    gap: 10px;
    padding: 10px 50px;
  }
  /* who we are section */

  .Whowearesection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    position: relative;
    background-color: #ffffff;
    padding: 100px 80px;
  }
  .left_div {
    position: relative;
    width: 45%;
  }
  .left_div .iconimg {
    position: absolute;
    top: 45px;
    left: -45px;
    z-index: 10;
  }
  .left_div .overlay {
    position: relative;
  }
  .left_div .overlay .bgimg {
    width: 100%;
    height: auto;
  }
  .left_div .overlay .frontimg {
    width: 200px;
    border-radius: 10px;
    position: absolute;
    bottom: -25px;
    right: -65px;
    z-index: 5;
  }

  .right_div {
    width: 45%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
  }

  .listpart {
    margin-bottom: 20px;
    gap: 5px;
  }

  /* Our Campaign Section */

  .ourcampaign {
    padding: 40px 80px;
  }
  .cardsdiv {
    gap: 10px;
  }
  .cardinnerdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .cardtext {
    height: 80px;
  }
  .buttondiv {
    gap: 15px;
  }
  .buttondiv .mainbtn {
    padding: 10px 10px;
  }
  .buttondiv .simplebtn {
    padding: 10px 10px;
  }
  .gp {
    padding-bottom: 20px;
  }
  .latestnews {
    padding: 80px 80px;
  }

  .testimonialsection {
    padding: 200px 80px;
  }
  .testimonialmaindiv {
    padding: 0px 20px;
  }
  .testimonialimgdiv {
    width: 50%;
  }
  .testimonialtextdiv {
    width: 45%;
  }
  .bgimgrect {
    width: 85%;
    height: 470px;
  }
  .mainimg {
    width: 315px;
    height: 640px;
    background-image: url(../media/Layer2.png);
    background-repeat: no-repeat;
    background-size: 315px 592px;
    position: absolute;
    z-index: 999999 !important;
    top: 78px;
    left: 10rem;
  }
  .right_img {
    position: absolute;
    right: -5%;
    top: 35% !important;
    width: 200px;
    height: 250px;
    background-image: url(../media/Group\ 8.png);
    background-repeat: no-repeat;
    background-size: 200px 250px;
    z-index: 0;
  }
  .left_img {
    position: absolute;
    left: -5%;
    bottom: 15% !important;
    width: 200px;
    height: 250px;
    background-image: url(../media/Group\ 10.png);
    background-repeat: no-repeat;
    background-size: 200px 250px;
    z-index: 0;
    padding-bottom: 10rem;
  }
  .countersection {
    padding: 30px 80px;
  }
  .NeedHelpsect {
    padding: 50px;
  }
  .footer_main {
    padding: 80px 40px;
    background-color: var(--secondarybg);
    display: flex;
    justify-content: space-between;
  }
  .logo_div {
    width: 33.3%;
  }
  .footer_links .contactinfo_div {
    width: 16.65%;
  }
}
@media screen and (min-width: 1280px) {
  .rightdiv .bgbox2 {
    background-color: var(--primary);
    position: absolute;
    width: 200px;
    height: 320px;
    bottom: -15px;
    right: 177px;
    border-radius: 10px;
    z-index: 5;
  }
  .bgimgrect {
    width: 60%;
    height: 470px;
  }
  .mainimg {
    width: 315px;
    height: 640px;
    background-image: url(../media/Layer2.png);
    background-repeat: no-repeat;
    background-size: 315px 592px;
    position: absolute;
    z-index: 999999 !important;
    top: 78px;
    left: 15.5rem;
  }
  .right_img {
    position: absolute;
    right: -5%;
    top: 35% !important;
    width: 200px;
    height: 250px;
    background-image: url(../media/Group\ 8.png);
    background-repeat: no-repeat;
    background-size: 200px 250px;
    z-index: 0;
  }
  .left_img {
    position: absolute;
    left: -5%;
    bottom: 15% !important;
    width: 200px;
    height: 250px;
    background-image: url(../media/Group\ 10.png);
    background-repeat: no-repeat;
    background-size: 200px 250px;
    z-index: 0;
    padding-bottom: 10rem;
  }
  .countersection {
    padding: 50px 100px;
  }

  .footer_links {
    width: 16.65%;
  }

  .NeedHelpsect {
    padding: 100px;
  }
  .footer_main {
    padding: 80px 120px;
  }
}
@media screen and (min-width: 1440px) {
  nav {
    padding: 20px 120px;
  }
  .footer_links {
    width: 16.65%;
  }
  .landingsection {
    padding: 80px 120px;
  }
  .leftdiv {
    position: relative;
    width: 55%;
  }
  .rightdiv {
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
  .rightdiv .card {
    background-color: var(--primarybg);
    position: relative;
    width: 480px;
    height: 420px;
    box-shadow: 0px 10px 25px 0px #21343014;
    border-radius: 10px;
    padding: 30px 40px;
    z-index: 10;
  }

  .rightdiv .bgbox1 {
    background-color: var(--primary);
    position: absolute;
    width: 200px;
    height: 320px;
    top: -15px;
    left: 20px;
    border-radius: 10px;
    z-index: 5;
  }
  .rightdiv .bgbox2 {
    background-color: var(--primary);
    position: absolute;
    width: 200px;
    height: 320px;
    bottom: -15px;
    right: -15px;
    border-radius: 10px;
    z-index: 5;
  }

  .Whowearesection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    position: relative;
    background-color: #ffffff;
    padding: 100px 120px;
  }
  .left_div {
    position: relative;
    width: 45%;
  }
  .left_div .iconimg {
    position: absolute;
    top: 45px;
    left: -45px;
    z-index: 10;
  }
  .left_div .overlay {
    position: relative;
  }
  .left_div .overlay .bgimg {
    width: 100%;
    height: auto;
  }
  .left_div .overlay .frontimg {
    width: 250px;
    border-radius: 10px;
    position: absolute;
    bottom: -35px;
    right: -65px;
    z-index: 5;
  }

  .right_div {
    width: 50%;
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
  }

  .listpart {
    margin-bottom: 20px;
    gap: 5px;
  }

  .ourcampaign {
    padding: 80px 120px;
  }
  .cardsdiv {
    gap: 40px;
  }
  .buttondiv {
    gap: 30px;
  }
  .buttondiv .mainbtn {
    padding: 10px 25px;
  }
  .latestnews {
    padding: 80px 120px;
  }
  .NeedHelpsect {
    padding: 100px;
  }
  .testimonialsection {
    padding: 250px 120px;
  }
  .testimonialmaindiv {
    padding: 0px 20px;
  }
  .testimonialimgdiv {
    width: 50%;
  }
  .testimonialtextdiv {
    width: 45%;
  }
  .bgimgrect {
    width: 75%;
    height: 470px;
  }
  .mainimg {
    width: 350px;
    height: 640px;
    background-image: url(../media/Layer2.png);
    background-repeat: no-repeat;
    background-size: 350px 640px;
    position: absolute;
    z-index: 999999 !important;
    top: 79px;
    left: 13.9rem;
  }
  .right_img {
    position: absolute;
    right: -5%;
    top: 35% !important;
    width: 200px;
    height: 250px;
    background-image: url(../media/Group\ 8.png);
    background-repeat: no-repeat;
    background-size: 200px 250px;
    z-index: 0;
  }
  .left_img {
    position: absolute;
    left: -5%;
    bottom: 15% !important;
    width: 200px;
    height: 250px;
    background-image: url(../media/Group\ 10.png);
    background-repeat: no-repeat;
    background-size: 200px 250px;
    z-index: 0;
    padding-bottom: 10rem;
  }
  .countersection {
    padding: 30px 120px;
  }
  .NeedHelpsect {
    padding: 100px;
  }
  .footer_main {
    padding: 80px 120px;
  }
  .logo_div {
    width: 33.3%;
  }
  .footer_links {
    width: 16.65%;
  }
}

/* Counter Section */
.countersection {
  background-color: var(--secondary);
  position: relative;
  gap: 0;
}
.upperdiv {
  transform: translateY(-75%);
  padding: 80px;
  background-color: #ffffff;
  background-image: url(../media/element.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.upperdiv .innerdiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.borderbt {
  width: 70px;
  border-bottom: 2px solid var(--primary);
}
.counterpart {
  transform: translateY(-80%);
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.flexpart {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexpart h2 {
  font-family: var(--fontfamily);
  font-size: 54px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.flexpart p {
  font-family: var(--fontfamily);
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
/* Need Help Section */
.NeedHelpsect {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.right_bg {
  position: absolute;
  right: -5%;
  top: 5%;
  width: 200px;
  height: 450px;
  background-image: url(../media/CombinedShape\ right.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.left_bg {
  position: absolute;
  left: -5%;
  bottom: -5%;
  width: 200px;
  height: 450px;
  background-image: url(../media/CombinedShape.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.innerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mainaccordian {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 700px;
}

.accordion-item {
  border-radius: 5px;
  margin-bottom: 8px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  background-color: #f5f5f5; /* Default background color when closed */
}
.accordion-header .main_head {
  font-size: 20px;
  line-height: 26px;
  font-family: var(--fontfamily);
  font-weight: 600;
  color: var(--primarytext);
}
.accordion-item.active .accordion-header,
.accordion-item.active .accordion-header .main_head {
  background-color: var(--secondary); /* Background color when open */
  color: var(--primarybg);
}
.accordion-header .toggle-sign {
  font-size: 24px;
  font-family: var(--fontfamily);
  font-weight: 600;
  color: var(--secondary);
}
.accordion-item.active .accordion-header .toggle-sign {
  color: var(--primarybg);
}
.accordion-content {
  display: none;
  padding: 8px;
}

.accordion-item.active .accordion-content {
  display: block;
}

.footer_main {
  background-color: var(--secondarybg);
  display: flex;
  justify-content: space-between;
}
.logo_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.logo_div h2 {
  font-family: var(--fontfamily);
  font-size: 25px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}
.logo_div p {
  font-family: var(--fontfamily);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #6f7775;
}
.logo_div .sociallinks {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.logo_div .sociallinks a {
  text-decoration: none;
  color: var(--primary);
}
.footer_links h2,
.contactinfo_div h2 {
  font-family: var(--fontfamily);
  font-size: 25px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.footer_main .footer_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_main .footer_linkss,
.footer_main .contactinfo_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_linkss a {
  text-decoration: none;
  color: #6f7775;
  font-family: var(--fontfamily);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.contact_info {
  display: flex;
  gap: 10px;
}
.contact_info .bggreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 50%;
}
.bggreen svg {
  color: var(--primarybg);
}
.contact_info .text_info {
  display: flex;
  flex-direction: column;
}
.text_info .bold_text {
  font-family: var(--fontfamily);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primarytext);
}
.text_info .simple_text {
  font-family: var(--fontfamily);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #6f7775;
}
.copyright {
  padding: 10px;
  background-color: var(--primary);
  color: var(--primarybg);
}
.copyright p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
