@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap");
:root {
  --primary: #1b9274;
  --secondary: #5fb39e;
  --specialcl: #7e8ab84e;
  --primarybg: #ffffff;
  --secondarybg: #fafafa;
  --specialbg: #f5f5f5;
  --progressbarcont: #d8d8d8;
  --primarytext: #1d1d1d;
  --secondarytext: #989898;
  --simpletext: #8a8a8a;
  --btncolor: #213430;
  --bordercl: #dddddd;

  --fontfamily: "Outfit", sans-serif;
  --specialfont: "Rubik", sans-serif;
}


.main_hero {
  display: flex;
  gap: 50px;
}

.headflex {
  display: flex;
  margin-bottom: 20px;
}
.brr {
  border-right: 2px solid var(--primary);
}
.mainheading {
  padding: 0px 10px;
  color: var(--primary);
}
.hero_head {
  color: var(--primary);
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
.button_wrapper {
  display: flex;
  margin: 10px 0px;
}
.simple_btn {
  border: none;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  background-color: transparent;
  border-radius: 10px 10px 0px 10px;
  border: 1px solid var(--primary);
}
.dropdown_btn {
  border: none;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary);
  background-color: transparent;
  border-radius: 10px 10px 0px 10px;
  border: 1px solid var(--primary);
}
.main_btns {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 10px 10px 0px 10px;
}
.flexbtn {
  display: flex;
  justify-content: end;
}
.flex_btn {
  width: 100%;
  display: flex;
  height: 40% !important;
}
.hero_footer {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero_footer h1,
.programs_cards h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary);
  margin-bottom: 10px;
}
.hero_footer p {
  font-family: "Work Sans", sans-serif;
  color: #292929;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.mainCardUpper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}
.card {
  width: 100%;
  position: relative;
}
.cardservice {
  background-color: var(--primarybg);
  box-shadow: 0px 4px 12px 0px #00c89c4d;
  border-radius: 10px;
  z-index: 10;
}
.bgbox {
  width: 40%;
  height: 95%;
  position: absolute;
  right: -5px;
  bottom: -5px;
  background-color: var(--primary);
  border-radius: 10px;
  z-index: -10;
}
.upper_sect {
  display: flex;
  justify-content: space-between;
}
.left_parrt {
  display: flex;
}
.left_sidecontent,
.right_sidecontent {
  width: 100%;
}
.left_sidecontent h1,
.right_sidecontent h1 {
  color: #0d0d0d;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.left_sidecontent p,
.right_sidecontent p {
  color: #1d1d1d;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.hr_line {
  width: 100%;
  border: 1px solid var(--primary);
}
.lower_sect,
.left_side_content {
  display: flex;
}
.card_flex {
  display: flex;
  flex-direction: column;
}
.card_flex h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.card_flex p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.right_side_content h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.right_side_content p {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000b2;
}

@media screen and (min-width: 320px) {
  .hero_section {
    padding: 60px 20px;
  }
  .headflex {
    flex-direction: column;
  }
  .brr {
    border-right: none;
  }
  .main_hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .mainheading {
    font-size: 18px;
  }
  .button_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .flex_btn {
    justify-content: center;
    align-items: center;
  }
  .simple_btn,
  .main_btns {
    padding: 5px 20px;
  }
  .dropdown_btn {
    padding: 5px 20px;
  }
  .secondbutton_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .programs_cards {
    padding: 0px 20px;
    margin-bottom: 20px;
  }
  .upper_sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left_parrt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .left_sidecontent,
  .right_sidecontent {
    width: 100%;
  }
  .lower_sect {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left_side_content {
    flex-direction: column;
  }
  .card_flex {
    justify-content: center;
    align-items: center;
  }
  .cardservice {
    padding: 20px;
  }
  .hr_line {
    margin: 10px 0px;
  }
}

@media screen and (min-width: 768px) {
  .hero_section {
    padding: 80px 40px;
  }
  .card_flex {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .main_hero {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
  .img_div {
    width: 31.3%;
  }
  .img_div img {
    width: 100%;
  }

  .hr_line {
    margin: 10px;
  }
  .btnwrap,
  .flex_btn {
    width: 31.3%;
  }
  .headflex {
    flex-direction: row;
    width: 100%;
  }
  .brr {
    border-right: 1px solid var(--primary);
  }
  .button_wrapper {
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
  .simple_btn,
  .main_btns {
    padding: 5px 10px;
  }
  .dropdown_btn {
    padding: 5px 10px;
  }
  .flex_btn {
    align-items: start;
  }
  .secondbutton_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
  }
  .flex_btn {
    justify-content: end;
    align-items: flex-start;
  }
  .programs_cards {
    padding: 0px 40px;
    margin-bottom: 20px;
  }
  .cardservice {
    padding: 10px;
  }
  .left_side_content {
    gap: 0px;
  }
  .right_side_content p {
    font-size: 18px;
  }

  .upper_sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .left_parrt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .left_sidecontent,
  .right_sidecontent {
    width: 40%;
  }

  .lower_sect {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .left_side_content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .hero_section {
    padding: 60px 60px;
  }
  .main_hero {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  }

  .secondbutton_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
  }
  .programs_cards {
    padding: 0px 80px;
    margin-bottom: 20px;
  }
  .cardservice {
    padding: 15px;
  }
  .left_side_content {
    display: flex;
    gap: 10px;
  }
  .right_side_content p {
    font-size: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .hero_section {
    padding: 60px 120px;
  }
  .programs_cards {
    padding: 0px 120px;
    margin-bottom: 20px;
  }
  .left_side_content {
    display: flex;
    gap: 40px;
  }
}

