@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap");
:root {
  --primary: #1b9274;
  --secondary: #5fb39e;
  --specialcl: #7e8ab84e;
  --primarybg: #ffffff;
  --secondarybg: #fafafa;
  --specialbg: #f5f5f5;
  --progressbarcont: #d8d8d8;
  --primarytext: #1d1d1d;
  --secondarytext: #989898;
  --simpletext: #8a8a8a;
  --btncolor: #213430;
  --bordercl: #dddddd;

  --fontfamily: "Outfit", sans-serif;
  --specialfont: "Rubik", sans-serif;
}

.main_hero {
  display: flex;
  gap: 50px;
}

.headflex {
  display: flex;
  margin-bottom: 20px;
}
.brr {
  border-right: 2px solid var(--primary);
}
.mainheading {
  padding: 0px 10px;
  color: var(--primary);
}
.hero_head {
  color: var(--primary);
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 20px;
}
.button_wrapper {
  display: flex;
  margin: 10px 0px;
}
.button_wrapper .simple_btn {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  padding: 15px 40px;
  background-color: transparent;
  border-radius: 10px 10px 0px 10px;
  border: 1px solid var(--primary);
}

.button_wrapper .main_btns {
  display: flex;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  width: 100%;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
  padding: 17px 40px;
  background-color: var(--primary);
  color: white;
  border-radius: 10px 10px 0px 10px;
}
.secondbutton_wrapper label {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.secondbutton_wrapper input {
  padding: 10px;
  border: 2px solid #3c3c432e;
  border-radius: 10px 10px 0px 10px;
}

.flexbtn {
  display: flex;
  justify-content: end;
}
.flex_btn {
  width: 100%;
  display: flex;
  height: 40% !important;
}
.hero_footer {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero_footer h1,
.programs_cards h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary);
  margin-bottom: 10px;
}
.hero_footer p {
  font-family: "Work Sans", sans-serif;
  color: #292929;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.mainCardUpper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}
.card {
  width: 100%;
  position: relative;
}
.cardservice {
  background-color: var(--primarybg);
  box-shadow: 0px 4px 12px 0px #00c89c4d;
  border-radius: 10px;
  z-index: 10;
}
.bgbox {
  width: 40%;
  height: 95%;
  position: absolute;
  right: -5px;
  bottom: -5px;
  background-color: var(--primary);
  border-radius: 10px;
  z-index: -10;
}
.upper_sect {
  display: flex;
  justify-content: space-between;
}
.left_parrt {
  display: flex;
}
.left_sidecontent,
.right_sidecontent {
  width: 100%;
}
.left_sidecontent h1,
.right_sidecontent h1 {
  color: #0d0d0d;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.left_sidecontent p,
.right_sidecontent p {
  color: #1d1d1d;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.hr_line {
  width: 100%;
  border: 1px solid var(--primary);
}
.lower_sect,
.left_side_content {
  display: flex;
}
.card_flex {
  display: flex;
  flex-direction: column;
}
.card_flex h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.card_flex p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.right_side_content h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.right_side_content p {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000b2;
}
/* Blog Detail Page */
.blog_bg {
  position: relative;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}
.blog_main {
  background-image: url("../media/Background\ Image.png");
  justify-content: end;
}
.blog_single_bg {
  background-image: url("../media/blogsingle.png");
  justify-content: flex-start;
}
.blog_bg_inner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.single_blog_bg_inner {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}
.blog_main_card,
.single_blog_main_card {
  position: relative;
  z-index: 10;
  margin: 0px 20px;
}
.blog_card {
  width: 100%;
  background-color: var(--primarybg);
  box-shadow: 0px 10px 25px 0px #21343014;
  z-index: 10;
  padding: 35px 30px;
}
.single_blog_card {
  width: 100%;
  background-color: var(--primarybg);
  box-shadow: 0px 10px 25px 0px #21343014;
  z-index: 10;
}
.blog_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog_content .main_para,
.blog_content_div .main_para {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary);
}
.blog_content .main_blog_head,
.blog_content_div .main_blog_head {
  font-family: "Shippori Mincho", serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary);
}
.blog_content .small_text,
.blog_content_div .small_text {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #727272;
}
.readmorebtn {
  padding: 10px 20px;
  border-radius: 10px 10px 0px 10px;
  border: 2px solid var(--primary);
  background-color: var(--primarybg);
  color: var(--primary);
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.blog_main_card .bgbox,
.single_blog_main_card .bgbox {
  width: 45%;
  height: 85%;
  position: absolute;
  background-color: var(--primary);
  z-index: -1;
}
.blog_main_card .bgbox1,
.single_blog_main_card .bgbox1 {
  left: -10px;
  top: -10px;
  border-radius: 0px 20px 20px 20px;
}
.blog_main_card .bgbox2,
.single_blog_main_card .bgbox2 {
  right: -10px;
  bottom: -10px;
  border-radius: 0px 20px 0px 20px;
}
.blog_main_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto; /* Center the container horizontally */
}
.blogs_cards_sect {
  position: relative;
  overflow: hidden;
  background-color: #f7f9f8a1;
}
.blogs_card {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 999;
  box-shadow: 0px 4px 4px 0px #1b92741a;
}
.blog_cardbtn a {
  text-decoration: none;
}
.blog_img_div img {
  width: 100%;
  height: 100%;
}
.blog_content_div {
  background-color: var(--primarybg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.text-sect {
  position: relative;
}
.single_text_content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.head_Sect {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.single_text_content .first_para {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #727272;
}
.head_Sect h1 {
  font-family: "Shippori Mincho", serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary);
}
.head_Sect p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #727272;
}
.head_Sect ul {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style-type: circle;
  font-size: 10px;
  gap: 10px;
  margin: 0px 40px;
}

.head_Sect ol {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style-type: decimal;
  font-size: 10px;
  gap: 10px;
  margin: 0px 40px;
}
.head_Sect ul li,
.head_Sect ol li {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #727272;
}
.single_img_div {
  width: 100%;
  height: 80vh;
}
.single_img_div img {
  width: 100%;
  height: 100%;
}
.head_Sect h4 {
  font-family: "Shippori Mincho", serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary);
}
.avatar_div {
  display: flex;
  background-color: #f6f6f6;
  padding: 30px 25px;
  gap: 20px;
}
.avatar_area {
  border-radius: 50px;
}
.avatar_area img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.flex_area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.flex_area .top_area h1 {
  font-family: "Shippori Mincho", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary);
}
.flex_area .top_area p ,.flex_area .below_area p{
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color:#727272;
}
@media screen and (min-width: 320px) {
  .hero_section,
  .blogs_cards_sect,
  .text-sect {
    padding: 60px 20px;
  }
  .blog_bg {
    flex-direction: column;
  }
  .blog_single_bg {
    justify-content: center;
    align-items: flex-start;
  }
  .blog_main {
    padding: 60px 60px;
    justify-content: center;
    align-items: center;
  }
  .headflex {
    flex-direction: column;
  }
  .brr {
    border-right: none;
  }
  .main_hero {
    flex-direction: column;
  }
  .mainheading {
    font-size: 18px;
  }
  .button_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .secondbutton_wrapper input,
  .button_wrapper label {
    width: 100%;
  }
  .flex_btn {
    justify-content: center;
    align-items: center;
  }
  .simple_btn,
  .main_btns {
    padding: 5px 20px;
  }
  .dropdown_btn {
    padding: 5px 20px;
  }
  .secondbutton_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .programs_cards {
    padding: 0px 20px;
    margin-bottom: 20px;
  }
  .upper_sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left_parrt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .left_sidecontent,
  .right_sidecontent {
    width: 100%;
  }
  .lower_sect {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left_side_content {
    flex-direction: column;
  }
  .card_flex {
    justify-content: center;
    align-items: center;
  }
  .cardservice {
    padding: 20px;
  }
  .hr_line {
    margin: 10px 0px;
  }
  /* Blog detail Page */
  .left_empty {
    display: none;
  }
  .blog_main_card,
  .single_blog_main_card {
    width: 100%;
  }
  .single_blog_card {
    padding: 20px 10px;
  }
  .blog_main_wrapper {
    padding: 0px;
  }
  .blogs_card {
    padding: 0px;
    flex-direction: column;
  }
  .blog_content_div {
    padding: 20px 10px;
  }
  
.avatar_div {
   flex-direction: column;}
}

@media screen and (min-width: 768px) {
  .hero_section,
  .blog_bg,
  .blogs_cards_sect {
    padding: 80px 40px;
  }
  .text-sect {
    padding: 80px 100px;
  }
  .card_flex {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .img_div {
    width: 31.3%;
  }
  .img_div img {
    width: 100%;
  }

  .hr_line {
    margin: 10px;
  }
  .flex_btn {
    width: 31.3%;
  }
  .headflex {
    flex-direction: row;
    width: 100%;
  }
  .brr {
    border-right: 1px solid var(--primary);
  }
  .button_wrapper {
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
  .secondbutton_wrapper label {
    width: 30%;
  }
  .secondbutton_wrapper input {
    width: 70%;
  }
  .simple_btn,
  .main_btns {
    padding: 5px 10px;
  }
  .dropdown_btn {
    padding: 5px 10px;
  }
  .flex_btn {
    align-items: start;
  }
  .secondbutton_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .flex_btn {
    justify-content: end;
    align-items: flex-start;
  }
  .programs_cards {
    padding: 0px 40px;
    margin-bottom: 20px;
  }
  .cardservice {
    padding: 10px;
  }
  .left_side_content {
    gap: 0px;
  }
  .right_side_content p {
    font-size: 18px;
  }

  .upper_sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .left_parrt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .left_sidecontent,
  .right_sidecontent {
    width: 40%;
  }

  .lower_sect {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .left_side_content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .left_empty {
    width: 42%;
    display: block;
  }
  .blog_main_card {
    width: 50%;
  }
  .single_blog_main_card {
    width: 85%;
  }
  .blog_main_wrapper {
    padding: 0px 60px;
  }
  .blogs_card {
    flex-direction: row;
  }
  .single_blog_card {
    padding: 35px 30px;
  }
  .blog_content_div {
    padding: 40px 25px;
  }
  
.avatar_div {
  flex-direction: row;}
}

@media screen and (min-width: 1024px) {
  .hero_section,
  .blog_bg,
  .blogs_cards_sect {
    padding: 60px 60px;
  }
  .text-sect {
    padding: 60px 120px;
  }
  .main_hero {
    flex-direction: row;
  }

  .secondbutton_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .programs_cards {
    padding: 0px 80px;
    margin-bottom: 20px;
  }
  .cardservice {
    padding: 15px;
  }
  .left_side_content {
    display: flex;
    gap: 10px;
  }
  .right_side_content p {
    font-size: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .hero_section,
  .blog_bg,
  .blogs_cards_sect {
    padding: 60px 120px;
  }
  .text-sect {
    padding: 60px 160px;
  }
  .programs_cards {
    padding: 0px 120px;
    margin-bottom: 20px;
  }
  .left_side_content {
    display: flex;
    gap: 40px;
  }
}
