@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap");
:root {
  --primary: #1b9274;
  --secondary: #5fb39e;
  --specialcl: #7e8ab84e;
  --primarybg: #ffffff;
  --secondarybg: #fafafa;
  --specialbg: #f5f5f5;
  --progressbarcont: #d8d8d8;
  --primarytext: #1d1d1d;
  --secondarytext: #989898;
  --simpletext: #8a8a8a;
  --btncolor: #213430;
  --bordercl: #dddddd;

  --fontfamily: "Outfit", sans-serif;
  --specialfont: "Rubik", sans-serif;
}
.Campaignbg {
  display: flex;
  background-image: url(../media/map.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.Campaignbg .Campaigntext h1 {
  font-family: var(--specialfont);
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
}
.Campaignbg .Campaigntext h1 span {
  color: var(--primary);
}

.headflex {
  display: flex;
  margin-bottom: 20px;
}
.brr {
  border-right: 2px solid var(--primary);
}
.mainheading {
  padding: 0px 10px;
  color: var(--primary);
}

.mainCardUpper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}
.card {
  position: relative;
}
.cardservice {
  background-color: var(--primarybg);
  box-shadow: 0px 4px 12px 0px #00c89c4d;
  border-radius: 10px;
  padding: 20px;
  z-index: 10;
}
.bgbox {
  width: 90%;
  height: 90%;
  position: absolute;
  right: -5px;
  bottom: -5px;
  background-color: var(--primary);
  border-radius: 10px;
  z-index: -10;
}
.smalldiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.viewButton {
  background-color: #1a9777;
  color: white;
  cursor: pointer;
  padding: 10px 25px;
  border: none;
  border-radius: 10px 10px 0px 10px;
}
.title {
  margin-top: 10px;
  margin-bottom: 0px;
}

.buttonupper {
  display: flex;
  justify-content: end;
}

.card_para {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--fontfamily);
  line-height: 24px;
  margin-top: 11px;
}
.aboutus {
  position: relative;
  display: flex;
  overflow-x: hidden;
}
.left_about,
.right_about {
  position: relative;
}
.right_imgsect {
  position: absolute;
  right: -3%;
  top: 35% !important;
  width: 200px;
  height: 250px;
  background-image: url(../media/Group\ 8.png);
  background-repeat: no-repeat;
  background-size: 200px 250px;
  z-index: 0;
}
.left_imgsect {
  position: absolute;
  left: -5%;
  bottom: 15% !important;
  width: 200px;
  height: 250px;
  background-image: url(../media/Group\ 10.png);
  background-repeat: no-repeat;
  background-size: 200px 250px;
  z-index: 0;
  padding-bottom: 10rem;
}

.main_innerdiv {
  position: relative;
  display: flex;
  justify-content: center;
}
.inner_div {
  background: url(../media/Group383.png) no-repeat;
  background-size: cover;
}
.right_about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main_headp {
  color: #00725e;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.main_headd {
  color: #000504;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}
.small_text {
  color: #454545;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.flex_div {
  display: flex;
  border: 2px solid var(--primary);
  margin-bottom: 10px;
}
.left_side {
  width: 50%;
}
.right_side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.text_head {
  color: #000504;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.price_text {
  color: #000504;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.donatebtn {
  border: none;
  border-radius: 10px 10px 0px 10px;
  background-color: var(--primary);
  color: white;
  font-size: 16px;
  font-family: var(--fontfamily);
  font-weight: 500;
  padding: 10px 25px;
}
@media screen and (min-width: 320px) {
  .Campaignbg {
    padding: 40px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Campaigntext {
    width: 100%;
  }
  .Campaign_img,
  .Campaign_img img {
    width: 100%;
  }
  .cardsection {
    padding: 20px 20px;
  }
  .aboutus {
    padding: 60px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .left_about {
    padding: 0px 20px;
  }
  .flex_div {
    padding: 5px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .left_about,
  .right_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }

  .main_innerdiv {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .inner_div {
    background: url(../media/Group383.png) no-repeat;
    background-size: 215px 380px;
    width: 215px;
    height: 380px;
  }
  .upperimg {
    position: absolute;
    width: 150px;
    height: 190px;
    top: -25px;
    left: -50px;
    z-index: 10;
  }
  .lowerimg {
    position: absolute;
    width: 150px;
    height: 190px;
    right: -50px;
    bottom: -25px;
    z-index: 10;
  }
  .main_headd {
    font-size: 32px;
  }
  .left_side{
  border-bottom: 1px solid var(--primary);
}
.left_side,.right_side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donatebtn {
  width: 60%;
}
}

@media screen and (min-width: 375px) {
  .inner_div {
    background: url(../media/Group383.png) no-repeat;
    background-size: 245px 380px;
    width: 245px;
    height: 380px;
  }
  .donatebtn {
    width: 50%;
  }
}
@media screen and (min-width: 425px) {
  .inner_div {
    background: url(../media/Group383.png) no-repeat;
    background-size: 245px 380px;
    width: 245px;
    height: 380px;
  }
  .donatebtn {
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .Campaignbg {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Campaignbg,
  .aboutus {
    padding: 80px 40px;
  }
  .aboutus {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardsection {
    padding: 40px 30px;
  }
  .card {
    width: 45%;
  }
  .flex_div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main_innerdiv {
    position: relative;
  }
  .left_about,
  .right_about {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 0px 40px;
  }
  .inner_div {
    background: url(../media/Group383.png) no-repeat;
    background-size: 280px 380px;
    width: 280px;
    height: 380px;
  }
  .upperimg {
    position: absolute;
    width: 200px;
    height: 265px;
    top: -50px;
    left: 55px;
    z-index: 10;
  }
  .lowerimg {
    position: absolute;
    width: 200px;
    height: 265px;
    right: 50px;
    bottom: -25px;
    z-index: 10;
  }
  .left_side{
    border-bottom: none;
    border-right: 1px solid var(--primary);
  }
  .donatebtn {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .Campaignbg {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Campaignbg,
  .aboutus {
    padding: 80px 80px;
  }
  .aboutus {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .cardsection {
    padding: 40px 60px;
  }
  .card {
    width: 30%;
  }
  .inner_div {
    background: url(../media/Group383.png) no-repeat;
    background-size: 305px 435px;
    width: 305px;
    height: 435px;
  }
  .left_about {
    width: 45%;
    display: block;
    padding: 0px;
  }
  .right_about {
    width: 45%;
    padding: 0px 10px;
  }
  .upperimg {
    position: absolute;
    width: 205px;
    height: 290px;
    top: -73px;
    left: -40px;
    z-index: 10;
  }
  .lowerimg {
    position: absolute;
    width: 205px;
    height: 290px;
    right: -20px;
    bottom: -35px;
    z-index: 10;
  }

  .donatebtn {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .Campaignbg {
    flex-direction: row;
  }
  .Campaignbg,
  .aboutus {
    padding: 80px 120px;
  }
  .card {
    width: 30%;
  }
  .left_about {
    width: 45%;
    display: block;
    padding: 0px 60px;
  }
  .inner_div {
    background: url(../media/Group383.png) no-repeat;
    background-size: 325px 435px;
    width: 330px;
    height: 435px;
  }
  .upperimg {
    position: absolute;
    width: 268px;
    height: 310px;
    top: -76px;
    left: -100px;
    z-index: 10;
  }
  .lowerimg {
    position: absolute;
    width: 268px;
    height: 310px;
    right: -72px;
    bottom: -40px;
    z-index: 10;
  }

  .donatebtn {
    width: 30%;
  }
}
