<footer>
  <div class="footer_main">
    <div class="logo_div">
      <h2>Logo</h2>
      <p>
        Whatever it is that you care about, there will be a charity working on
        it. Charities help in lots of different ways
      </p>
      <div class="sociallinks">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
    <div class="footer_links">
      <h2>Menu</h2>
      <div class="footer_linkss">
        <a href="">Donations</a>
        <a href="">Features</a>
        <a href="">Categories</a>
        <a href="">Volunteer</a>
        <a href="">About Us</a>
      </div>
    </div>
    <div class="footer_links">
      <h2>About Us</h2>
      <div class="footer_linkss">
        <a href="">How it Works?</a>
        <a href="">Contact Us</a>
        <a href="">FAQ</a>
        <a href="">Help</a>
      </div>
    </div>
    <div class="contactinfo_div">
      <h2>Contact Info</h2>
      <div class="contact_info">
        <div class="bggreen">
          <i class="fa-solid fa-phone"></i>
        </div>
        <div class="text_info">
          <p class="bold_text">Call Us</p>
          <p class="simple_text">+1-0000000000</p>
        </div>
      </div>
      <div class="contact_info">
        <div class="bggreen">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="text_info">
          <p class="bold_text">Mail Us</p>
          <p class="simple_text">info@******.com</p>
        </div>
      </div>
      <div class="contact_info">
        <div class="bggreen">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="text_info">
          <p class="bold_text">Visit us</p>
          <p class="simple_text">Your Address here</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Name © 2023 Inc. All Rights Reserved.</p>
  </div>
</footer>
