{% load static %}
<div class="sidebar">
  <div class="nav_logo">
    <a href="{% url 'Home'%}">Charity Logo</a>
  </div>
  <ul class="sidebar_links">
    <li>
      <a href="{% url 'dashboard' %}" class="active">
        <img src="{% static '/media/Dashboard.png' %}" alt="">
        <span >Dashboard</span>
      </a>
    </li>
    <li>
      <a href="{% url 'donationhistory' %}">
        <img src="{% static 'media/history.png' %}" alt="">
        <span >Donation History</span>
      </a>
    </li>
    <li>
      <a href="{% url 'recentfunds' %}">
        <img src="{% static 'media/Recent.png' %}" alt="">
        <span>Recent Funds</span>
      </a>
    </li>
    <li>
      <a href="{% url 'programs' %}">
        <img src="{% static '/media/Program.png' %}" alt="">
        <span >Program</span>
      </a>
    </li>
    <li>
      <a href="{% url 'blogs' %}">
        <i class="fa-regular fa-pen-to-square"></i>
        <span>Blogs</span>
      </a>
    </li>
    <li>
      <a href="{% url 'messages' %}">
        <img src="{% static 'media/Message.png' %}" alt="">
        <span >Messages</span>
      </a>
    </li>
    <li>
      <a href="{% url 'profile' %}">
        <img src="{% static '/media/Profile.png' %}" alt=""><span >Profile</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="{% static '/media/Logout.png' %}" alt="">
        <span>Logout</span>
      </a>
    </li>
  </ul>
</div>